body {
    margin: 0;      /* Убираем отступы */
}

.skyBox{
    position: fixed;
    height:250px;
    width: 100%;
    background-color: RGB(70,186,235);
    z-index: -1;
}

.hat{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: RGB(0,156,203);
    z-index:1;
    top: 0px;
    min-width: 900px;
}

.hat button{
    margin-left: 20px;
    margin-top: 5px;
}

.account_logo {
    float: right;
    margin-right: 5px;
    margin-top: 4px;
}
.exadel_logo{
    float: left;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 20px;
}

.loupe_logo{
    float:right;
    margin-top: 5px;
    margin-right: 10px;
}

.exit_logo{
    float: right;
    border-left: #ffffff solid;

    margin-top: 5px;
    margin-right: 10px;
}

.currUserName{
    float:right;
    color: white;
    margin-right:10px;
    font-size: 25px;
    text-shadow: 1px 1px 1px RGB(70,186,235);
    font-family: Arial;
    margin-top: 9px;
}

.bookmarks a{

    float:right;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 1px RGB(70,186,235);
    font-family: Arial;

    margin-right:6px;
    margin-top: 6px;
    padding-bottom:12px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top:3px;
    text-decoration: none;
}
.bookmarks a:hover{
    background-color: RGB(70,186,235);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#table{
    padding-top: 100px;
    padding-left: 50px;
}

#example_length, #example_filter, #example_info, #example_paginate{
    font-size: 20px;
    color: gray;
}

table{
    background-color: white;
    text-align:center;
    border:#777777 1px solid;
    border-collapse:collapse;
    box-shadow: 0 1px 2px #d1d1d1;
    font-family: Arial;
    min-width: 700px;
}

table thead,table tfoot{
    background-color: grey;
    color:white;
    font-weight:bold;
    border-bottom:1px solid #e0e0e0;
    text-shadow: 1px 1px 0px black;
    font-family:serif;
}
table td{
    padding: 2px 8px 2px 8px;
    border-color: grey;
}
.group label{
    float:left;
    margin-left: 2%;
    height: 40px;
}
.group input, .group select{
    float:right;
    margin-right: 2%;
}
.spoilers{
    padding: 10px ;
    width: 600px;
    border: solid;
    border-color: #c0c0c0;
    border-radius: 20px;
    font: 20px Helvetica;
    text-align: left;
}
.group{
    white-space: nowrap;
    height: 45px;
    overflow: auto;
}
.profile{
    background-color:  #c0c0c0;
    width: 200px;
    height:40px;
    border-radius: 20px;
    border: solid #ffffff;
    float: right;
    font:20px/40px Helvetica;
}
.profile img{
    float:left;
    margin-left: 5px;
}
#hatSelect{
    font:20px/40px Helvetica;
    color: #ffffff;
    background-color: RGB(0,156,203);
    border:white solid;
    border-radius: 20px;
    height: 40px;
    width: 600px;
    overflow: auto;
}

.loginAndCreateForm{
    color: RGB(0,107,253);
    width: 320px;
    margin: auto;
    margin-top: 100px;
    border: 0px solid;
    padding: 7px;
    text-align:left;
    font-size: 14px;
    background-color: white; /*RGB(0,156,203);*/
    border-width: 3px;
    border-color: #00a1d2;
    border-radius: 2px;
}
.loginAndCreateForm p {
    margin-left: 30px;
    /*text-shadow: 1px 1px 0px black;*/
}
.loginAndCreateForm div{
    overflow: auto;
}
.loginAndCreateForm button{
    float:right;
    margin-right: 10px;
    cursor: pointer;
}

.loginAndCreateForm h1{
    text-align:center;
}

.loginAndCreateButton{
    background-color: RGB(0,156,203);
    border-style:none;
    border-radius: 3px;
    color: white;
    height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:800;
    text-shadow: 1px 1px 0px black;

}
.loginAndCreateButton:hover{
    background-color:RGB(0,107,253);
}

.field{
    color: RGB(0,107,253);
    height: 20px;
    background-color: white;
    position: relative;
    float: right;
    margin-right: 20px;
    border-color: #00a1d2;
    border-radius: 3px;
    border: 1px solid;
    width:50%;
}

/*Начало раздела отвечающего за страницу create.jsp*/

#createFormSet{
    border-color: #00a1d2;
    border-radius: 8px;
    border: 1 solid;
    padding:0;
}

/*Rjytw раздела отвечающего за страницу create.jsp*/

.functionsBox{
    left: 20px;
    top: 100px;
    width: 170px;
    height: 400px;
    position: absolute;
    font-size: 19px;
    padding-left: 4px;
    padding-right: 10px;
    background-color:  #c0c0c0;
}

.functionsBox p {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color:white;
    border: 1px;
    border-style:none;
    border-radius: 3px;
}

.functionsBox p span{
    float:right;
    padding-top:2px;
    padding-right: 5px;
}
/*linking form*/

select.linkingL{
    float: left;
    height: 300px;
    width: 30%;
    font-family: arial;
    color: RGB(0,107,253);
    border: 1px solid #00a1d2;
}
select.linkingR{
    float: right;
    width: 30%;
    height: 300px;
    font-family: arial;
    color: RGB(0,107,253);
    border: 1px solid #00a1d2;
}
.linkingForm{
    font-family: arial;
    color: RGB(0,107,253);
    margin:auto;
    margin-top: 100px;
    padding: 7px;
    font-size: 25px;
    background-color: white;
    border:3px solid;
    border-color: #00a1d2;
    border-radius: 2px;
    width: 450px;
}
.radio{
    text-align: center;
}

.button{
    margin-top: 150px;
    text-align: center;
}
.button button{
    background-color: RGB(0,156,203);
    border-style:none;
    border-radius: 3px;
    color: white;
    height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:800;
    text-shadow: 1px 1px 0px black;
}
.button button:hover{
    background-color:RGB(0,107,253);
}

/*end of linking form*/
.allignCenter{
    text-align: center;
    margin-top: 20px;
}
/*review form*/
.reviewForm{
    font-family: arial;
    color: RGB(0,107,253);
    margin:auto;
    margin-top: 100px;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    border:3px solid;
    border-color: #00a1d2;
    border-radius: 2px;
    width: 450px;
    text-align: left;
}

.alignCenter{
    text-align: center;
}
.floatright{
    float: right;
    margin-right: 20px;
}
.textOther{
    width: 400px;
    max-width: 400px;
    color: RGB(0,107,253);
    height: 100px;
}
/*end of review form*/

/*student page*/
.nav-tabs {
    margin-top: 50px;
}

#reviewsTable{
    min-width: 600px;
    font-size: 14px;
}

#reviewsTable_length, #reviewsTable_filter, #reviewsTable_info, #reviewsTable_paginate{
    font-size: 14px;
    color: gray;
}
/*end of student page*/