/*common props*/


body {
    margin: 0;      /* Убираем отступы */
    min-width: 993px;
}

.navbar-blue{
    background-color: RGB(0,156,203);
    margin-bottom: 0;
}

.navbar-blue .navbar-toggle {
    border-color: #ddd;
}

.navbar-blue .navbar-toggle .icon-bar {
    background-color: #888;
}

@media (min-width: 768px)
{
    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0px;
}
.navbar-nav > li > a {
    padding: 0px 0px;
}

.navbar-nav > li {
    float: left;
}

.navbar-right{
    float: right;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    text-decoration: none;
    background-color: RGB(0,156,203);
}

.nav > li > button{
    margin-top: 6px;
    margin-right: 3px;
}

.hat{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: RGB(0,156,203);
    z-index:1;
    top: 0px;
    min-width: 993px;
}

.hat button{
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    font-size: 20px;
}

.account_logo {
    display: inline-block;
    margin-right: 5px;
    margin-top: 4px;
}

.message{
    float: right;
    margin-right: 5px;
    margin-top: 4px;
    background-image: url(/resources/images/message1.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    padding-top: 25px;
    padding-left: 29px;
    font-weight: bold;
    display: flex;
}

.message span{
    background-color: #ff9900;
    border-radius: 9px;
    text-align: center;
    width: 20px;
    height: 20px;
}

.exadel_logo{
    display: inline-block;
/*    padding-top: 10px;
    padding-left: 20px;*/
}

.loupe_logo, .exit_logo{
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}

.currUserName{
    display: inline-block;
    color: white;
    margin-right:10px;
    font-size: 25px;
    text-shadow: 1px 1px 1px RGB(70,186,235);
    margin-top: 9px;
    padding-bottom: 1px;
}

table{
    background-color: white;
    text-align:center;
    border:#777777 1px solid;
    border-collapse:collapse !important;
    box-shadow: 0 1px 2px #d1d1d1;
}

table thead,table tfoot{
    background-color: grey;
    color:white;
    font-weight:bold;
    text-shadow: 1px 1px 0px black;
    font-family:serif;
}

table td{
    padding: 2px 8px 2px 8px;
    border-color: grey;
}

table thead th, table thead td, table tfoot td, table tfoot tr{
    border: 1px solid #111111;
}

.profile{
    background-color:  #c0c0c0;
    width: 200px;
    height:40px;
    border-radius: 20px;
    border: solid #ffffff;
    float: right;
    font:20px/40px Helvetica;
}

.profile img{
    float:left;
    margin-left: 5px;
}

.loginAndCreateForm, .linkingForm, .reviewForm, .createNotificationForm{
    color: #808080;
    width: 370px;
    margin: auto;
    margin-top: 100px;
    border: 3px solid;
    padding: 7px;
    background-color: white;
    border-radius: 10px;
}

.loginAndCreateForm{
    text-align:left;
    font-size: 14px;
}

.loginAndCreateForm p {
    margin-left: 30px;
}

.loginAndCreateForm div{
    overflow: auto;
}

.loginAndCreateForm button{
    margin-right: 10px;
    cursor: pointer;
}

.loginAndCreateForm h1{
    text-align:center;
}

.loginAndCreateButton{
    background-color: #808080;
    border-style:none;
    border-radius: 3px;
    color: white;
    height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:800;
    text-shadow: 1px 1px 0px black;

}

.loginAndCreateButton:hover{
    background-color:RGB(0,156,203);
}

.field{
    color: #808080;
    height: 25px;
    background-color: white;
    position: relative;
    float: right;
    margin-right: 20px;
    border-color: #00a1d2;
    border-radius: 3px;
    border: 1px solid;
    width:50%;
    padding: 3px;
}

.alignCenter{
    margin: auto;
    text-align: center;
}

.btn:hover, .btnActive{
    background-color: #ffffff;
    color:  RGB(0,156,203);
}

.btn{
    background-color:  RGB(0,156,203);
    color: #ffffff ;
}

/*end of common props*/

/*login props*/

/*all props are common*/

/*end of login props*/

#table{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

#example_length, #example_filter, #example_info, #example_paginate{
    font-size: 20px;
    color: gray;
}

/*props create.jsp*/

/*all props are common*/

/*end of props create.jsp*/

/*linking form*/

.linkingForm{
    width: 450px;
}

.linkingL, .linkingR{
    float: left;
    height: 300px;
    width: 30%;
    border-radius: 5px;
}
select.linkingR{
    float: right;
}

.radio{
    text-align: center;
}

.button{
    margin-top: 150px;
    text-align: center;
}
.button button{
    background-color: #808080;
    border-style:none;
    border-radius: 3px;
    color: white;
    height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:800;
    text-shadow: 1px 1px 0px black;
}
.button button:hover{
    background-color: RGB(0,156,203);
}

/*end of linking form*/

/*review form*/

.reviewForm, .createNotificationForm{
    width: 450px;
    font-size: 14px;
    text-align: left;
}

.floatright{
    float: right;
    margin-right: 20px;
}
.textOther{
    width: 400px;
    max-width: 400px;
    color: RGB(0,107,253);
    height: 100px;
}
/*end of review form*/

/*student page*/
.nav-tabs {
    margin-top: 50px;
}

#reviewsTable{
    min-width: 600px;
    font-size: 14px;
}

#reviewsTable_length, #reviewsTable_filter, #reviewsTable_info, #reviewsTable_paginate{
    font-size: 14px;
    color: gray;
}

.group label{
    float:left;
    margin-left: 2%;
    height: 40px;
}
.group input, .group select{
    float:right;
    margin-right: 2%;
    width: 40%;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid;
}
.spoilers{
    margin-top: 10px;
    padding: 10px ;
    width: 650px;
    border:3px solid;
    border-radius: 20px;
    font-size: 14px;
    text-align: left;
    color: #808080;
    margin: 0 auto;
}
.group{
    white-space: nowrap;
    height: 45px;
    overflow: auto;
}

/*end of student page*/

/*fblist props*/

/*all props are common*/

/*end of fblist props*/

/*admin props*/

.adminProfile{
    font-size: 14px;
    font-weight: bold;
}

#hatSelect{
    font:20px/40px Helvetica;
    color: #ffffff;
    background-color: RGB(0,156,203);
    border:white solid;
    border-radius: 20px;
    height: 55px;
    width: 650px;
    overflow: auto;
}

#hatSelect div{
    margin-top: 7px;
}

.hsFloatRight{
    float: right;
    margin-right: 7%;
}

.hsFloatLeft{
    float: left;
    margin-left: 3%;
}

.adminGroup{
    overflow: auto;
}

.adminGroup label{
    float:left;
    margin-left: 2%;
    height: 40px;
}
.adminGroup input, .adminGroup select{
    float:right;
    margin-right: 2%;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid;
}
.adminGroup input:not([type="checkbox"]), .adminGroup select{
    width: 30%;
}

.inTable{
    font: -webkit-mini-control;
    float: right;
    margin-right: 2%;
    vertical-align: middle;
}

.adminMenuImages{
    height: 25px;
    width:25px
}
/*end of admin props*/

/*adminTable props*/
.saveTable img{
    width: 50px;
    height: 50px;
}

.saveTable{
    padding-top: 100px;
    font-size: 20px;
    text-align: center;
    color: gray;
}

#searchTable{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
/*end of adminTable props*/

/*interview props*/

.starRating{
    float: right;
    margin-right: 20px;
}

.interviewGroup{
    margin-bottom: 5px;
}

/*end of interview props*/

/*notification props*/

.notifPadding{
    padding-top: 100px;
}
.notification{
    border: 3px solid gray;
    border-radius: 20px;
    width: 650px;
    margin: auto;
    padding: 10px 20px;
    text-align: left;
}

.notification h2{
    text-align: center;
    margin-bottom: 20px;
}

.text{
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.date , .sender{
    font-style: italic;
}

.date{
    display: inline-block;
}

.sender{
    display: inline-block;
    float: right;
}
/*end of notification props*/

/*create notification props*/

.createNotificationForm{
    width: 650px;
    text-align: center;
}

.leftList{
    float: left;
    margin-bottom: 10px;
}

.centerList{
    float: left;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-left: 15px;
}

.rightList{
    float: left;
    clear: right;
    width: 33%;
    margin-bottom: 10px;
}

.createNotificationForm select{
    width: 200px;
    height: 150px;
}

.subject{
    margin-top: 10px;
    margin-bottom: 10px;
}

.subject input{
    width: 100%;
}

.letterText{

}

.letterText textarea{
    width:100%
}

/*end of create notification props*/

/*add field and technology props*/

.addTech{
    text-align: center;
    margin-top: 20px;
}

#field{
    padding: 40px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.inputGroup{
    margin-top: 30px;
    float: left;
    text-align: center;
}

.selectGroup{
    float: right;
    margin-top: 30px;
    text-align: center;
}

.paddingTop{
    padding-top: 80px;
}

.spoilers > div > input:not([type="radio"]){
    height: 20px;
}

.borderBottom{
    border-bottom: 1px solid gray;
}

/*end of add field and technology props*/